<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2019 <a href="delafsystems.online/courier">Integrated Solutions.</a></p>
    </div>
</footer>
