<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />

    <title>SurveyPlanet  -  dashboard</title>
    
    <!-- ========== Css Files ========== -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/root.css" rel="stylesheet">
      
    <link rel="stylesheet"type="text/css" href="css/">

    <!-- <script src="js/jquery-3.3.1.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript" src="js/easypiechart/easypiechart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" ></script>        
    <script src="js/socket.js" ></script>

    <script src="js/plotly-latest.min.js"></script>

    <script type="text/javascript" > 
        
    
    </script>
    <style>
        .ct-chart .ct-perfect-fourth,
            .ct-charrt .ct-perfect-fourth {
                stroke: blue;
            }

        .panel-title {
            text-align: center;
            font-size: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: bisque;
            color: black;
        }    
    
    </style>
  </head>
  <body onload="getdata()">
  <!-- Start Page Loading -->
  <div class="loading"><img src="img/loading.gif" alt="loading-img"></div>
  <!-- End Page Loading -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
  <!-- START TOP -->
  <div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
      <a href="index.html" class="logo">Survey</a>
    </div>
    <!-- End App Logo -->
    <h1 class="text-center">Graph Report</h1>

     
  </div>
  <!-- END TOP -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

    <ul class="sidebar-panel nav" >
        
        <li class="sidetitle">MAIN</li>

        <li class='newproject' ><a href="project.html"><span class="icon color5"><i class="fa fa-home"></i></span>New Project<span class="label label-default">2</span></a></li>
        <li class='questionaire'><a href="questions.html"><span class="icon color6"><i class="fa fa-pencil"></i></span>Project Questionaire<span class="label label-default">19</span></a></li>
        
        <li class='data' > <a href="#"><span class="icon color9"><i class="fa fa-th"></i></span>Data Tables<span class="caret"></span></a>
            <ul>
                <li><a href="datatable.html"><span class="icon color8"><i class="fa fa-database"></i></span>Raw Data</a></li>
                <li><a href="graphtable.html"><span class="icon color8"><i class="fa fa-bar-chart"></i></span>Graphical Data</a></li>
            </ul>
        </li>

        <!-- <li><a href="users.html"><span class="icon color8"><i class="fa fa-user"></i></span>Setup BA Device</a></li>      -->
        <li class='users'><a href="users.html"><span class="icon color8"><i class="fa fa-users"></i></span>Setup Clients</a></li>     
        <!-- <li><a href="mapdevice.html"><span class="icon color8"><i class="fa fa-android"></i></span>Map Device to Project </a></li>      -->
        <li class='mapping'><a href="mapuser.html"><span class="icon color8"><i class="fa fa-android"></i></span>Map Users to Project </a></li>     
        <li><a href="support.html"><span class="icon color8"><i class="fa fa-home"></i></span>Support Tickets</a></li>     

    </ul> 

</div>

<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">

  
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-padding">

    <div class='row' >
        <div class='col-md-12' >
            <div class='panel panel-default'>
                
                <!-- <div class='panel-title'>
                    Select Question
                </div> -->

                <div class="panel-body" >
                        <p class="guest">  G</p>
                    <!-- <form action="" method="get"> -->
                        <div class="col-md-5" >
                            <label for="projects" class="col-md-7">Select Project</label>
                            <select class="col-md-8" name="projects" id="projects" onchange="getQuestions(this.value)" >

                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="questions" class="col-md-7">Select Question</label>
                            <select class="col-md-12" name="questions" id="questions" onchange="getQuestionGraphReport(this.value)">
                            </select>
                        </div>
                        <!-- <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label> -->

                        <div class="col-md-3" >

                        <!-- <p class="col-md-4 col-lg-12"> -->
                            <!-- <input class="" type="radio" name="sel" value='line' id="line" onclick="showgraph(this.id)">
                            <label for="">Line Chart</label>  -->
                            
                            <input class="" type="radio" name="sel" value='pie'  id="pie"  onclick="showgraph(this.id)" >
                            <label for="">Pie Chart</label> 
                            <input class="" type="radio" name="sel" value='bar'  id="bar"  onclick="showgraph(this.id)" >
                            <label for="">Bar Chart</label>

                            <!-- <input class="" type="radio" name="sel" value='easy' id="easy" onclick="showgraph(this.id)" >
                            <label for="">Easy Pie Chart</label> -->

                            <!-- <button class="btn btn-success" ><i class="fa fa-excel" >Export Excel</i></button>
                            <button class="btn btn-primary" ><i class="fa fa-pdf" >Export PDF</i></button> -->
                        <!-- </p>             -->

                        </div>
                                           <!-- </form> -->
                </div>
            </div>

        </div>
    </div>
  
    <!-- Start first Row -->
    <div class="row">
        
        <!-- Start Chart -->

        <!-- <div id="tester" style="width:600px;height:250px;">
        
        </div> -->

        <div class="col-md-12 p hidden" style="background-color: whitesmoke">
            <div class="panel panel-default pie">
                <div class="panel-title">
                    Simple Pie Chart
                </div>
                <div class="panel-body">
                    <div id="p" class="pull-left" ></div>

                    <div > 
                        <table class="table table-bordered ptbl pull-right">

                        </table>

                    </div>

                </div>
            </div>

            
        </div>
        
        <div class="col-md-12 b hidden" style="background-color: whitesmoke">
            <div class="panel panel-default pie">
                <div class="panel-title">
                    Bar Chart
                </div>
                <div class="panel-body">
                    <div id="b" ></div>
                </div>
            </div>
        </div>
        <!-- End Chart -->
        
        

 
    </div> <!-- End First Row -->
 
</div>

</div>
 

    <!-- ================================================
    jQuery Library
    ===================================================== -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- ================================================
    Bootstrap Core JavaScript File
    ===================================================== -->
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- ================================================
    Plugin.js - Some Specific JS codes for Plugin Settings
    =====================================================-->
    <script type="text/javascript" src="js/plugins.js"></script>

    <!-- ================================================
    Flot Chart
    ===================================================== -->
    <!-- main file -->
    <!-- <script type="text/javascript" src="js/flot-chart/flot-chart.js"></script> -->
    <!-- time.js -->
    <!-- <script type="text/javascript" src="js/flot-chart/flot-chart-time.js"></script> -->
    <!-- stack.js -->
    <!-- <script type="text/javascript" src="js/flot-chart/flot-chart-stack.js"></script> -->
    <!-- pie.js -->
    <!-- <script type="text/javascript" src="js/flot-chart/flot-chart-pie.js"></script> -->
    <!-- demo codes -->
    <!-- <script type="text/javascript" src="js/flot-chart/flot-chart-plugin.js"></script> -->

    <!-- ================================================
    Chartist
    ===================================================== -->
    <!-- main file -->
    <script type="text/javascript" src="js/chartist/chartist.js"></script>
    <!-- demo codes -->
    <!-- <script type="text/javascript" src="js/chartist/chartist-plugin.js"></script> -->

    <!-- ================================================
    Easy Pie Chart
    ===================================================== -->
    <!-- <script src="easypiechart.js"></script> -->
    <!-- main file -->
    <!-- <script type="text/javascript" src="js/easypiechart/easypiechart.js"></script> -->
    <!-- demo codes -->
    <!-- <script src="js/easypiechart/easypiechart-plugin.js" type="text/JavaScript"></script> -->
    <!-- <script type="text/javascript" src="js/easypiechart/easypiechart-plugin.js"></script> -->


    <!-- ================================================
    Sparkline
    ================================================ -->
    <!-- main file -->
    <script type="text/javascript" src="js/sparkline/sparkline.js"></script>
    <!-- demo codes -->
    <script type="text/javascript" src="js/sparkline/sparkline-plugin.js"></script>

    <!-- ================================================
    Rickshaw
    ================================================ -->
    <!-- d3 -->
    <script src="js/rickshaw/d3.v3.js"></script>
    <!-- main file -->
    <script src="js/rickshaw/rickshaw.js"></script>
    <!-- demo codes -->
    <!-- <script src="js/rickshaw/rickshaw-plugin.js"></script> -->

    <script src="js/graph.js"></script>

    <script>
        var getQuestionGraphReport = (refcode) => {
            var charttype  = $('input:radio[name=chart]:checked').val();
            var role = localStorage.getItem('roleId');

            // alert(charttype);
            $.ajax({
                url: "/getquestiongraphdata",
                method:"GET",
                data: "questionid="+refcode+"&role="+role,
                // data: "usermail="+usermail+"&project="+project ,
                cache: false,
                success: function(data) {
                    console.log(data.labels.length);
                
                    var str = '<table class="table-hover" >';
                    str += "<tr style='background-color: #ffcccc; color: black; font-size: 26px; font-weight: bold' ><thead><td colspan='3'>"+ data.question +"</td></thead></tr>";

                    str += "<tr style='background-color: whitesmoked; font-weight: bold'><td>S/N</td><td>KPI</td><td>Frequency</td></tr>";
                    //Build the tabular report
                    var j=0;
                    for(var k=0; k < data.labels.length; k++){
                        j++;
                        str += "<tr><td>"+ j +"</td><td>"+data.labels[k]+"</td><td>"+data.series[k]+"</td></tr>";
                    }

                    str += "</table>";

                    $('.ptbl').html(str);

                    console.log(data)
                    
                    
                    var label; 

                    var LabelKPI  = data.labels; 
                    var seriesKPI = data.series; 
                    var question  = data.question;

                    var data = [{
                        values: seriesKPI,
                        labels: LabelKPI,
                        type: 'pie'
                    }];

                    console.log(data)

                    var layout = {
                        height: 400,
                        width: 600
                    };

                    Plotly.newPlot('p', data, layout);
                    ///////////////

                    
                    var data = [
                        {
                            x: LabelKPI,
                            y: seriesKPI,
                            type: 'bar',
                            // name: "LabelKPI",
                            marker: {
                                color: 'rgb(49,130,189)',
                                opacity: 0.7,
                            }
                        }
                    ];

                    Plotly.newPlot('b', data);

                    //Question display
                    $('.panel-title').html(question);

                    // $('.panel-title').add

                    
                },
                error: function(data){
                    alert("E: "+data);
                },
                datatype: "text"
            }) 
        }

        var getQuestions = (code) => {
            // alert(code)
            var x = $("#uid").html(); 
            $.ajax({ 
                url: "/questionsddl",
                method:"GET",
                data: "projectid="+code,
                cache: false,
                success: function(data){ 
                    $("#questions").html(data);

                },
                error: function(data){
                    alert("E: "+data);
                },
                datatype: "text"
            })

        }

        var showgraph = (reference) => {
            if(reference=='pie'){
                $('.b').addClass('hidden');
                $('.p').removeClass('hidden');
                // alert('pie re o');
            }else if(reference=='bar'){
                $('.b').removeClass('hidden');
                $('.p').addClass('hidden');
            }
        }
    
    </script>

</body>
</html>