<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/root.css" rel="stylesheet">

    <link rel="stylesheet" href="css/plugin/sweet-alert/sweet-alert.css">

    
    <title>Setup Outlet</title>
</head>
<body>
    <!-- START SIDEBAR -->
    <div class="sidebar clearfix">

            <ul class="sidebar-panel nav" >
                
                <li class="sidetitle">MAIN</li>
        
                <li class='newproject' ><a href="project.html"><span class="icon color5"><i class="fa fa-home"></i></span>New Project<span class="label label-default">2</span></a></li>
                <li class='questionaire'><a href="questions.html"><span class="icon color6"><i class="fa fa-pencil"></i></span>Project Questionaire<span class="label label-default">19</span></a></li>
                
                <li  class='data'><a href="#"><span class="icon color9"><i class="fa fa-th"></i></span>Data Tables<span class="caret"></span></a>
                    <ul>
                    <li><a href="datatable.html"><span class="icon color8"><i class="fa fa-database"></i></span>Raw Data</a></li>
                    <li><a href="graphtable.html"><span class="icon color8"><i class="fa fa-bar-chart"></i></span>Graphical Data</a></li>
                    </ul>
                </li>
        
                <!-- <li><a href="users.html"><span class="icon color8"><i class="fa fa-user"></i></span>Setup BA Device</a></li>      -->
                <li class='users'><a href="users.html"><span class="icon color8"><i class="fa fa-users"></i></span>Setup Clients</a></li>     
                <!-- <li><a href="mapdevice.html"><span class="icon color8"><i class="fa fa-android"></i></span>Map Device to Project </a></li>      -->
                <li class='mapping'><a href="mapuser.html"><span class="icon color8"><i class="fa fa-android"></i></span>Map Users to Project </a></li>     
                <li><a href="support.html"><span class="icon color8"><i class="fa fa-home"></i></span>Support Tickets</a></li>     
        
            </ul> 
        
        </div>
                <!-- END SIDEBAR -->
        <!-- //////////////////////////////////////////////////////////////////////////// --> 
        
    <div class="content" style="background-color: gray">
        
        <div class="container-padding align-top" >
            <div class="row">
                <div class="panel col-md-12"> <!--The confine of body-->
                    <div class="panel-header">
                        <h2 style="text-align: center; background-color: antiquewhite">Setup New Outlet Details</h2>

                    </div>
                    <form action="/board.html" method="GET">
                        <div class="panel-body" style="overflow: scroll; background-color: whitesmoke">
                            <div class="col-md-12 form-group">
                                <label class="col-md-4" for="name"> Select Project </label>
                                <select class="col-md-8 form-control" name="project" id="project" onchange="getcount(this.value)">
                                    
                                </select>
                            </div>

                            <div class="col-md-12 form-group">
                                <label class="col-md-2" for="name"> Outlet Counts:  </label>
                                <p class="col-md-4" id='counts'>0</p>
                            </div>
    
                            <div class="col-md-6">
                                <input type="hidden" name="user" id="user">

                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name">Outlet Name</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="name" id="name">
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name">Owner's Name</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="owner" id="owner">
                                </div>
                                
                                <div class="col-md-12 form-group" >
                                    <label class="col-md-4" for="name">Outlet Code.</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="code" id="code">
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name">Address</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="address" id="address">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name">Land Mark</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="landmark" id="landmark">
                                </div>

                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Phone</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="phone" id="phone">
                                </div>
                                
                                <!-- <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Email</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="email" id="email">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Name of Rep</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="rep" id="rep">
                                </div>
                                 -->
                            </div>

                            <div class="col-md-6" >

                                    <div class="col-md-12 form-group">
                                            <label class="col-md-4" for="name"> Email</label>
                                            <input class="col-md-8 form-control" autocomplete="off" type="text" name="email" id="email">
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label class="col-md-4" for="name"> Name of Rep</label>
                                            <input class="col-md-8 form-control" autocomplete="off" type="text" name="rep" id="rep">
                                        </div>
                                        
                                
                                <!-- <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Channel Type</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="channel" id="channel">
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Channel Code</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="c_code" id="c_code">
                                </div> -->
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Supervisor Code</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="supervisor" id="supervisor">
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Auditor Code</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="auditor" id="auditor">
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> State Code </label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="state" id="state">
                                </div>
                                
                                
                                <!-- <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Route Code </label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="route" id="route">
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Region </label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="region" id="region">
                                </div> -->
                                
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Location </label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="location" id="location">
                                </div>
                                
                                

                                
<!--                                       
                                <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name"> Access Level</label>
                                    <select class="col-md-8 form-control" name="access" id="access">
                                        <option value="0">Please, select access level...</option>
                                        <option value="client">Client</option>
                                        <option value="manager">Field Manager</option>
                                        <option value="device">Field Device</option>
                                    </select>
                                </div>   -->

                                <!-- <div class="col-md-12 form-group">
                                    <label class="col-md-4" for="name">Device IMEI</label>
                                    <input class="col-md-8 form-control" autocomplete="off" type="text" name="imei" id="imei">
                                </div> -->


                            </div>

                            <!-- <div id='userslist' class="col-md-6" style="height: 300px; overflow: scroll">

                            </div> -->

                        </div>

                        <div class="panel-footer" >
                            <button class="btn btn-primary" type="button" onclick="savedata()">Submit</button>
                            <button  class="btn btn-danger" type="submit" >Close</button>

                        </div>


                    </form>


                </div>

            </div> <!--row end-->

        </div>


    </div>

    <script src="js/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" ></script>        
    <script src="js/socket.js" ></script>

    <script src="js/sweet-alert/sweet-alert.min.js"></script>
    
    <script>
        $(document).ready(() => {
            $('#user').val(localStorage.getItem('userid'));

            var user = localStorage.getItem('userid');
            var role = localStorage.getItem('roleId');
            // alert(user);

            $.ajax({
                url: "/getprojectslist",
                method: "GET",
                data: "user="+user+"&role="+role,
                cache: false,
                success: (data)=>{
                    // alert(data)
                    $('#project').html(data);
                },
                error: (err)=>{

                },
                dataType: "text"
            })


            // alert(user)
        });
        
        var savedata = () => {
            var user = $('#user').val();

            var project = $('#project').val();
            var name = $('#name').val();
            var owner = $('#owner').val();
            var code = $('#code').val();
            var add = $('#address').val();
            var lm = $('#landmark').val();
            var email = $('#email').val();
            var phone = $('#phone').val();
            var rep = $('#rep').val();

            var state = $('#state').val();

            $.ajax({
                url: "/newoutlet",
                method: "GET",
                data: "user="+user+"&project="+project + "&name="+name+"&owner="+owner+"&code="+code+"&address="+add+"&lm="+lm+"&email="+email+"&phone="+phone+"&rep="+rep+"&state="+state,
                cache: false,
                success: (data) => {
                    // alert(data.count)
                    console.log(data);
                    $('#counts').html(data.count);

                    // if(data=='success'){
                    //     swal("Saved", data, "success");    
                    // }else{
                    //     swal("Error:", data, "error");
                    // }
                    swal("Saved", "saved successfully...", "success");
                },
                error: (err)=>{
                    alert('erro: '+err.statusText)
                },
                dataType: "json"
            })
        };

        var getcount = (id) => {

            $.ajax({
                url: "/getoutletcount",
                method: "GET",
                data: "project="+id,
                cache: false,
                success: (data)=>{
                    $('#counts').html(data.count);
                },
                error: (err)=>{

                },
                dataType: "json"
            })

        }

    
    </script>
    
</body>
</html>