<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />

    <title>Church Ninja v1.0</title>
    
    <!-- ========== Css Files ========== -->
    <link href="css/root.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <link rel="stylesheet" href="css/plugin/sweet-alert/sweet-alert.css">
    <!-- <link rel="stylesheet" href="dist/css/bootstrap.min.css"> -->

    <!-- <script src="dist/js/bootstrap.min.js"></script> -->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" ></script>        
    <script src="js/socket.js" ></script>

    <script type="text/javascript" > 
        
        $("#alert-target").click(function () {
            toastr["info"]("I was launched via jQuery!")
        });
    
    </script>

    <style>
        td, th {
            white-space: nowrap;
            /* overflow: hidden; */
            
                      
        }

        /* @import "compass/css3";

        body{
        padding: 50px;
        } */
    </style>
  </head>
  <body onload="getdatas()">
  <!-- Start Page Loading -->
  <div class="loading"><img src="img/loading.gif" alt="loading-img"></div>
  <!-- End Page Loading -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
  <!-- START TOP -->
  <div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
      <a href="index.html" class="logo">Church Ninja v1.0</a>
    </div>
    <!-- End App Logo -->
    <h1 class="text-center"> Point Allocation Time Table </h1>

     
  </div>
  <!-- END TOP -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

        <ul class="sidebar-panel nav">
                <li class="sidetitle" > MAIN </li>
                
                <li  class='setup'><a href="#"><span class="icon color9"><i class=""></i></span>Front Office<span class="caret"></span></a>
                  <ul>
                    <li class='newclient'><a href="clients.html"><span class="icon color8"><i class="fa fa-users"></i></span>Member Setup</a></li>     
                    <li class='newproject' ><a href="project.html"><span class="icon color5"><i class="fa fa-sign-in"></i></span>Clock-IN<span class="label label-default"></span></a></li>
                    <li class='questionaire'><a href="questions.html"><span class="icon color6"><i class="fa fa-qrcode"></i></span>Allocate<span class="label label-default"></span></a></li>
                    <li class='questionaire'><a href="questions.html"><span class="icon color6"><i class="fa fa-building"></i></span>Setup new wings<span class="label label-default"></span></a></li>
                    <li class='questionaire'><a href="questions.html"><span class="icon color6"><i class="fa fa-users"></i></span>Setup new Group<span class="label label-default"></span></a></li>
                    <li class='questionaire'><a href="questions.html"><span class="icon color6"><i class="fa fa-user"></i></span>Setup new Unit<span class="label label-default"></span></a></li>
                    <li class='questionaire'><a href="allocationAI.html"><span class="icon color6"><i class="fa fa-location-arrow"></i></span> Allocation AI<span class="label label-default"></span></a></li>
                  </ul>  
                </li>
              
                <li  class='report'><a href="#"><span class="icon color9"><i class=""></i></span> Report Module<span class="caret"></span></a>
                  <ul class="">
                      <li ><a href="timetable.html"><span class="icon color8 "><i class="fa fa-calendar" style=""></i></span> Time Tabler</a></li>
                  
                    <li ><a href="datatable.html"><span class="icon color8 "><i class="fa fa-database" style=""></i></span>Raw Data</a></li>
                    <li><a href="graphtable.html"><span class="icon color8"><i class="fa fa-bar-chart"></i></span>Graphical Data</a></li>
                  </ul>
                </li>
                
                <!-- <li><a href="support.html"><span class="icon color8"><i class="fa fa-life-ring"></i></span>Support Tickets</a></li>     
                <li><a href="dbsockExcel.html"><span class="icon color8"><i class="fa fa-excel-o" aria-hidden="true"></i></span>Import Excel Data</a></li>      -->
                <li><a href="/"><span class="icon color8"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Exit Application</a></li>     
              
              </ul>
               </div>


<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">

  
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-fluid">
  
  <!-- Start Fifth Row -->
  <div class="row">

        <!-- Start Panel -->
        <div class="" style="">
            <div id="errmsg" style="height: auto; font-size: 20px; font-weight: bold; text-align: center; color: #f50"></div>
            <input type="hidden" name="usermail" id="usermail" >
            <!-- <a class="btn btn-info btn-lg" type="hidden" id="alert-target">Click me!</a> -->

            <div class="panel panel-default" style="background-color: whitesmoke; overflow: scroll">
                <div class="panel-title" style="background-color: bisque" >
                    <p class='' style="text-align: center; font-size:  20px; background-color: transparent; color: black" > Point Allocation Time Table. </p>
                    <p class="guest">  </p>
                
                    <!-- <div class="shadow-lg p-3 mb-5 bg-white rounded">Raw Field Data. </div> -->
                </div>
                    
                <div class="panel-body">

                    <div class="form-group clearfix col-md-6">
                        <label for="projectid" class="" > Enter Year </label>
                        <input type="number" year>                        
                    </div>

                    <div class="clearfix col-md-6 no-wrap">
                        <button class="btn btn-primary btn-sm ops" type="button" onclick="getData()" > Filter Data </button>
                        <!-- <button class="btn btn-success btn-sm ops" type="button" onclick="opendata()" > Open Selection </button>
                        <button class="btn btn-danger btn-sm ops2" type="button" onclick="opendata()" > Delete Selection </button> -->
                        <button class="btn btn-success btn-sm" type="button" onclick="tableToExcel('table', 'Excel Table')" > Export Excel </button>
                        <!-- <button class="btn btn-primary col-md-12" type="button"  onclick="tableToExcel('table', 'Excel Table')" >Export to Excel</button> -->
                        
                        <button class="btn btn-success btn-sm" type="button" onclick="closeDialog()"> close </button>

                    </div>

                    <!-- <div class="alert alert-success clearfix col-md-12" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 id='alerts'></h3>
                    
                    </div> -->

                    <div id='table' class="table table-bordered"  style='overflow: scroll'  >

                        <!-- <table width="70%" id="" class="table-hover">
                            
                        </table> -->

                    </div>

                </div>

            </div>
        </div>
        <!-- End Panel --> 

</div> <!-- End Fifth Row -->

<div class="modal fade" id="pushtodisplay" role="modal" style="width: 1200px">
    <div class="modal-dialog modal-lg" title="Add expected Options for questions" style="width: 1100px">
        <div class="modal-content">
            <input type="hidden" class="refnos" >
            <input type="hidden" id="quest" >
            <!-- <input type="hidden" id="currentuser" > -->

            <div class="modal-header" style="padding: 15px 40px; background-color: cadetblue; color: #fff; font-weight: bolder;">
                <button type="button" class="close" data-dismiss="modal" > &times; </button>
                <h4 style="color: #fff; text-align: center" ><span>Edit Respondent Questionaire</h4>
            </div>

            <div class="modal-body" style="height: auto; width: 800px; background-color:white;">
                <!-- <div class='responses' style="overflow: scroll;" >

                </div> -->

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="overflow: scroll;" >
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner responses">caro

                    </div>
                    
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                   
            </div>

            <div class="modal-footer" style="background-color: antiquewhite">
                <button type="button" class="btn btn-primary btn-group-sm rounded" onclick="saveChoices()" id="pusher" ><i class="fa fa-database" ></i>Submit</button>
                <button type="button" class="btn btn-danger btn-orange" data-toggle='tooltip' title='Close window' id="closer"  data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

</div>
<!-- End Content -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- ================================================
jQuery Library
================================================ -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- ================================================
Bootstrap Core JavaScript File
================================================ -->
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- ================================================
Plugin.js - Some Specific JS codes for Plugin Settings
================================================ -->
<script type="text/javascript" src="js/plugins.js"></script>

<!-- ================================================
Data Tables
================================================ -->
<script src="js/datatables/datatables.min.js"></script>

<script src="js/sweet-alert/sweet-alert.min.js"></script>



<script>
    var usermail = localStorage.getItem('userid');
    $('#usermail').val(usermail);

    var check = (id)=>{
        alert('Dele: '+ id);
    };

    var closeDialog = () => {
        window.location = 'board.html';
    };

    var getRawData = (id) => {
        var user = $('#usermail').val();
        var role = localStorage.getItem('roleId');
        // alert(user)
        // alert(role)
        $.ajax({
            url: "/projrawdata",
            data: "user="+user+"&projectid="+id+"&role="+role,
            type: "GET",
            cache: false,
            success: function(data){
                // alert(data)
                // $('#result').html(data);
                $('#table').html(data.str);
                $('#counter').html(data.counter);

                console.log(data)
            },
            error: function(data){
                alert(data);
            },
            dataType: "json"
        })

    }

    var getClickedData = (id) => {
        // alert(id);

        /** GET the data for the passed id
         *  introduce the questions table 
         *  and options table in displaying
         *  the submitted data.
         * 
         *  If there is changes to the data,
         *  update the changes and log the 
         *  previous record in the audit trail
         *  table: TO BE CREATED!
         */
         $("#pushtodisplay").modal({
            backdrop: 'static',
            keyboard: false
        });

        /** SHow a processing effect to client while getting data */

        $.ajax({
            url: "/editquestionaire",
            type: "GET",
            data: "ref="+id,
            cache: false,
            success: function(data){
                // alert(data)
                $('.responses').html(data);

            },
            error: function(err){

            },
            datatype: "text"
        })

        

    }

    var tableToExcel = (function() {

        var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
        return function(table, name) {
        if (!table.nodeType) table = document.getElementById(table);
        var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML};
        window.location.href = uri + base64(format(template, ctx));
        };
    })();


    var opendata = () => {
        var projectid = $("#projectid").val();
        $('.alert').show();
        $('#alerts').html('<strong>Success!</strong> You have sent the field data to the client successfully!');

        // <strong>Success!</strong> You have sent the field data to the client successfully!
        // window.setTimeout(function() {
        //     $(".alert").fadeTo(500, 0).slideUp(500, function(){
        //         $(this).remove(); 
        //     });
            
        // }, 4000);


        $.ajax({
            url: "/returntoclient",
            data: "projectid="+projectid,
            type: "GET",
            cache: false,
            success: function(data) {
                getRawData(projectid);
                swal("Sent!", "Field data sent to client successfully...", "success")

                $(".alert").fadeTo(5000, 0).slideUp(1000, function(){
                    // $(this).remove(); 
                });
            

            },
            error: function(data){
                // alert(data);
            },
            dataType: "text"
        });


    }

    var checker = (id, projectid) => {
        var totalRowCount = 0;
        var rowCount = 0;
        var table = document.getElementById("example0");
        var rows = table.getElementsByTagName("tr");
        
        // var projectid = $('#projectid').val();

        // alert($('#projectid').val());

        var charttype = $("#header").is(":checked");
        var stat;

        if(charttype){
            $(".rad").prop("checked", true);
            stat=1;
        }else{
            $(".rad").prop("checked", false);
            stat=0;
        };

        $.ajax({
            url: "/changechecker",
            cache: false,
            method: "GET",
            data: "project="+projectid+"&stat="+stat,
            success: (data) => {
                // alert(data);
            },
            error: (err) => {
                // alert(err);
            },
            datatype: "text"
        })

        // for (var i = 0; i < rows.length; i++) {
        //     // $(".rad").prop("checked", true);

        //     totalRowCount++;
        //     if (rows[i].getElementsByTagName("td").length > 0) {
        //         rowCount++;
        //     }
        // };
        // var message = "Total Row Count: " + totalRowCount;
        // message += "\nRow Count: " + rowCount;
        
    }
    var checkersingleton = (id, refcode) => {
        var totalRowCount = 0;
        var rowCount = 0;
        var table = document.getElementById("example0");
        var rows = table.getElementsByTagName("tr");
        
        var projectid = $('#projectid').val();

        // alert($('#projectid').val());

        var charttype = $("#"+id).is(":checked");
        var stat;
// alert(charttype)

        if(charttype){
            $("#"+id).prop("checked", true);
            stat=1;
        }else{
            $("#"+id).prop("checked", false);
            stat=0;
        };

        $.ajax({
            url: "/changecheckers",
            cache: false,
            method: "GET",
            data: "project="+projectid+"&stat="+stat+"&ref="+id+"&refcode="+refcode,
            success: (data) => {
                // alert(data);
            },
            error: (err) => {
                // alert(err);
            },
            datatype: "text"
        });

        // for (var i = 0; i < rows.length; i++) {
        //     // $(".rad").prop("checked", true);

        //     totalRowCount++;
        //     if (rows[i].getElementsByTagName("td").length > 0) {
        //         rowCount++;
        //     }
        // };
        // var message = "Total Row Count: " + totalRowCount;
        // message += "\nRow Count: " + rowCount;
        
    }

    var getData = () => { 
        var year = $("#year").val();
        $('.alert').show();
        $('#alerts').html('<strong>Error!</strong> You sent bad field data to the field manager!');

        $.ajax({
            url: "/generateTimetable",
            data: "year="+year,
            type: "GET",
            cache: false,
            success: function(data) {
                getRawData(projectid);
                swal('Rejected', 'Records sent to field Manager!', 'error');
                // $(".alert").fadeTo(5000, 0).slideUp(1000, function(){
                //     $(this).remove(); 
                // });
            
            },
            error: function(data){
                // alert(data);
            },
            dataType: "text"
        });

    }

    $(document).ready(function() {
        var name = localStorage.getItem('name');
        var user = localStorage.getItem('userid');
        var role = localStorage.getItem('roleId');

        $('.guest').html("<strong style='font-size: 20' >Welcome, "+ name+" </strong>");
        
        if(role=='client'){
            $('.ops').addClass('hidden');
            $('.ops2').addClass('hidden');

            $('.newproject').addClass('hidden');
            $('.questionaire').addClass('hidden');
            
            $('.users').addClass('hidden');
            $('.mapping').addClass('hidden');

        }else if(role=='manager'){
            $('.ops').addClass('hidden');
            // $('.ops').addClass('hidden');
            $('.newproject').addClass('hidden');
            $('.questionaire').addClass('hidden');

            $('.users').addClass('hidden');
            $('.mapping').addClass('hidden');

        }

        $('.alert').hide();

        $('#example0').DataTable();
        var user = $('#usermail').val();

        $.ajax({
            url: "/getprojectslist",
            data: "user="+user+"&role="+role,
            type: "get",
            cache: false,
            success: function(data){
                // alert(data)
                $('#projectid').html(data);

                //get my raw data from clients on the currently runncing project
                // alert(user)
                $.ajax({
                    url: "/rawdata",
                    data: "user="+user,
                    type: "GET",
                    cache: false,
                    success: function(data){
                        $('#result').html(data);

                        console.log(JSON.stringify(data))
                    },
                    error: function(data){
                        // alert(data);
                    },
                    dataType: "text"
                })
            },
            error: function(data){
                // alert(data);
            },
            dataType: "text"
        });

        // socket.emit('rawdata', user);

        // socket.on('data', (resp) => {

        // })

    });
</script>



<script>
$(document).ready(function() {
    var table = $('#example').DataTable({
        "columnDefs": [
            { "visible": false, "targets": 2 }
        ],
        "order": [[ 2, 'asc' ]],
        "displayLength": 25,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
        }
    } );
 
    // Order by the grouping
    $('#example tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
            table.order( [ 2, 'desc' ] ).draw();
        }
        else {
            table.order( [ 2, 'asc' ] ).draw();
        }
    } );
} );
</script>



</body>
</html>